﻿@{
    ViewBag.Title = "Index";
}

@*<center><h2><span style="color: #00ccff;"> I.E. Tarsicio Bazán Zegarra</span></h2></center>*@
<br />
<br />
<div class="row-fluid">
                    <div class="span3 col-md-4">
                        <img class="wp-image-127 alignright" src="/Imagenes/tbz.jpg" width="340" height="300" />
                    </div>
                    <div class="span6">
                        <h3><span style="color: #00ccff;"> Nuestra Misión:</span></h3>
                        <p align="justify">Somos una Institución Educativa Pública, que brinda servicios educativos del nivel primario, enfocado al desarrollo integral del educando, en los aspectos cognoscitivo, afectivo y social, teniendo como base la práctica de valores, para lograr ciudadanos  útiles capaces de dar solución a sus problemas mejorando  de esta manera su desempeño  familiar y social.</p>
                    </div>
                    <div class="span6">
                        <h3><span style="color: #00ccff;"> Nuestra Visión:</span></h3>
                        <p align="justify">Ser una Institución que brinde una educación integral y de calidad de acuerdo al avance de la tecnología educativa, rescatando nuestro patrimonio cultural. Alumnos con un desarrollo físico y mental armónico, seguros de sí mismos, con una conciencia crítica de su realidad y deseo de superación.
                            Maestros competentes en procesos de aprendizaje, identificados con su labor e Institución.</p>
                        <p align="justify">Para el cumplimiento de nuestra misión, integramos esfuerzos con otras dependencias del Estado, la familia y las Instituciones existentes en la Comunidad.</p>
                    </div>
    </div>

