﻿
@{
    ViewBag.Title = "CrearMatricula";
}

<h2>Crear Matricula</h2>
<br />


<div class="form-horizontal">
    <div class="form-group">
    <label for="inputFecha" class="col-sm-2 control-label">Fecha</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="Fecha" placeholder="20/03/2016">
    </div>
    </div>
</div>

<div class="form-horizontal">
<h4>Datos del Alumno</h4>
    </div>

<form class="form-horizontal">
  
    <div class="form-group">
    <label for="inputDNI" class="col-sm-2 control-label">DNI</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="DNI" placeholder="DNI">
    </div>
  </div>
  
    <div class="form-group">
    <label for="inputNombres" class="col-sm-2 control-label">Nombres</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputNombres" placeholder="Nombres">
   </div>
   </div>
    
    <div class="form-group">
    <label for="inputApellidoPaterno" class="col-sm-2 control-label">Apellido Paterno</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputApellidoPaterno" placeholder="Apellido Paterno">
    </div>
    </div>

    <div class="form-group">
    <label for="inputApellidoMaterno" class="col-sm-2 control-label">Apellido Materno</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputApellidoMaterno" placeholder="Apellido Materno">
    </div>
    </div>

    <br />

<h4>Datos Académicos</h4>

    <div class="form-group">
        <label for="sexo" class="col-sm-2 control-label">Grado</label>
        <div class="col-sm-10">
        <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="sexo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Seleccione
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        </ul>
    </div>
    </div>
    </div>

    <div class="form-group">
        <label for="sexo" class="col-sm-2 control-label">Sección</label>
        <div class="col-sm-10">
        <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="sexo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Seleccione
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        </ul>
    </div>
    </div>
    </div>

   

    <div class="row">
    <div class="col-md-4 col-md-offset-6">
         <p>
      <button type="button" class="btn btn-primary">Cancelar</button>
      <button type="button" class="btn btn-default">Guardar</button>
    </p>
    </div>
    </div>
</form>