﻿@{
    ViewBag.Title = "GestionarMatricula";
}

<h2>Matricula</h2>

<form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Buscar">
  </div>

  <button type="submit" class="btn btn-default">Buscar</button>
  <button type="submit" class="btn btn-default">+Crear</button>

  <table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>DNI</th>
            <th>Nombres y Apellidos</th>
            <th>Apoderado</th>
            <th>Grado</th>
            <th>Sección</th>
            <th>Acciones</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>75790454</td>
                <td>Maria Isabel Montes Ica</td>
                <td>Juan Montes Ate</td>
                <td>4</td>
                <td>B</td>
                <td>
                   @Html.ActionLink("Detalles", "Details") | 
                   @Html.ActionLink("Eliminar", "Remove") 
                </td>
            </tr>
        </tbody>
    </table>
</form>