﻿@{
    ViewBag.Title = "CrearAsignacionCurso";
}

<h2>Asignación Cursos</h2>

    <div class="form-group">
    <label for="inputAñoAcademico" class="col-sm-2 control-label">Año Académico</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputAñoAcademico" placeholder="2016">
    </div>
  </div>
<br />

  <form class="form-inline">
  <div class="form-group">
      <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Grado
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
          </ul>
        </div>
  </div>
  
      <div class="form-group">
      <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Sección
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
          </ul>
        </div>
  </div>
  

  <div class="form-group">
        <label for="sexo" class="col-sm-4 control-label">Docente</label>
        <div class="col-sm-8">
        <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="docente" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Seleccione
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        </ul>
    </div>
    </div>
    </div>

  <button type="submit" class="btn btn-default">+Agregar</button>

  <table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>DNI</th>
            <th>Nombres y Apellidos</th>
            <th>Matemática</th>
            <th>Comunicación</th>
            <th>Personal Social</th>
            <th>Ciencia y Medio Ambiente</th>
            <th>Educación Física</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>23245678</td>
                <td>Hola Hole Holi Holo Holu</td>
                <td>@Html.CheckBox("IsActivo")</td>
                <td>@Html.CheckBox("IsActivo")</td>
                <td>@Html.CheckBox("IsActivo")</td>
                <td>@Html.CheckBox("IsActivo")</td>
                <td>@Html.CheckBox("IsActivo")</td>
            </tr>
        </tbody>
    </table>


      <div class="row">
    <div class="col-md-4 col-md-offset-6">
         <p>
      <button type="button" class="btn btn-primary">Cancelar</button>
      <button type="button" class="btn btn-default">Guardar</button>
    </p>
    </div>
    </div>

</form>
