﻿@model TBZCurso.Estudiante
@{
    ViewBag.Title = "ActualizarEstudiante";
}

<div class="col-md-12 col-md-offset-0">
    <legend class="panel-warning">Actualizar Estudiante</legend>
</div>
<div class="container" style="margin-top: 5px;">
    <div class="row">
        <div class="col-md-10 col-md-offset-3">
            <form action="/Estudiantes/ActualizarEstudiante/@Model.IdEstudiante" method="post" class="form-horizontal">
                <div class="form-group">
                        <div class="col-sm-4" hidden="">
                            @Html.EditorFor(model => model.IdEstudiante, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                <div class="form-group">
                        <label class="col-sm-2 control-label">Dni</label>
                        <div class="col-sm-4" >
                            @Html.EditorFor(model => model.DniEstudiante, new { htmlAttributes = new { @class = "form-control"} })
                            <br />
                            @Html.ValidationMessage("DniEstudiante", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombres</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                            <br />                            
                            @Html.ValidationMessage("Nombres", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Apellido Paterno</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control" } })
                            <br />                            
                            @Html.ValidationMessage("ApellidoPaterno", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Apellido Materno</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control" } })
                            <br />
                            @Html.ValidationMessage("ApellidoMaterno", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Sexo</label>
                        <div class="col-sm-4">

                            @Html.DropDownListFor(model => model.Sexo, new SelectList(
                  new List<Object>{
                       new { value = "" ,text = "Seleccionar"  },
                       new { value = "Masculino" , text = "Masculino" },
                       new { value = "Femenino" , text = "Femenino"}
                    },
                  "value",
                  "text",
                           ""), htmlAttributes: new { @class = "form-control" })

                            @Html.ValidationMessage("Sexo", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Dirección</label>
                        <div class='col-sm-4'>
                            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { id = "datetimepicker1", @class = "form-control" } })
                            <br />
                            @Html.ValidationMessage("Direccion", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Teléfono</label>
                        <div class='col-sm-4'>
                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new {@class = "form-control" } })
                            <br />
                            @Html.ValidationMessage("Telefono", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fecha Nacimiento</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                            <br />
                            @Html.ValidationMessage("FechaNacimiento", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Dni Apoderado</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.DniApoderado, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    
                    <div class="col-md-5 col-md-offset-3">
                        <div class="col-sm-4">
                            <a href="~/Estudiantes/GestionarEstudiante" class="btn btn-primary">
                                <span class="" aria-hidden="true"></span>Cancelar
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success" aria-hidden="true">
                                <span class=""></span> Guardar
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>