﻿@model TBZCurso.Estudiante
@{
    ViewBag.Title = "DetalleEstudiante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-md-offset-0">
    <legend class="panel-footer">Detalle Estudiante</legend>
</div>
<div class="container panel-footer">
    <div class="row">
        <div class="col-md-10 col-md-offset-3">
            <form action="/Cursos/CrearCurso" method="post" class="form-horizontal">
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    Dni :
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DniEstudiante)
                                </dd>

                                <dt>
                                    Estudiante :
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.NombreCompleto)
                                </dd>

                                <dt>
                                    Fecha de Nacimiento :
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.FechaNacimiento);
                                </dd>

                                <dt>
                                    Dirección :
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Direccion)
                                </dd>

                                <dt>
                                    Telefono :
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Telefono)
                                </dd>

                                <dt>
                                    Apoderado :
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Apoderado.NombreCompleto)
                                </dd>

                            </dl>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <a href="~/Estudiantes/GestionarEstudiante" class="btn btn-primary">
                                    <span class="" aria-hidden="true"></span>Cancelar
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <a href="~/Estudiantes/ActualizarEstudiante?idEstudiante=@Model.IdEstudiante" class="btn btn-danger">
                                    <span class="" aria-hidden="true"></span>Actualizar
                                </a>
                            </div>
                        </div>

            </form>
        </div>
    </div>
</div>