﻿@{
    ViewBag.Title = "GestionarEstudiante";
}

<h2>Estudiantes</h2>

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<form action="/Estudiantes/GestionarEstudiante" method="get">
    <div class="row">
        <div class="col-md-5">
            <input type="text" name="query" class="form-control" placeholder="Buscar" />
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary">Buscar</button>
        </div>
        <div class="col-md-3">
            <a href="/Estudiantes/CrearEstudiante" class="btn btn-success">
                <span class="" aria-hidden="true"></span>Crear Estudiante
            </a>
        </div>
    </div>
</form>
<br />
<br />

  <table class="table table-striped" >
        <thead>
            <tr>
                <th>Dni</th>
                <th>Estudiante</th>
                <th>Direccion</th>
                <th>Teléfono</th>
                <th>Apoderado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DniEstudiante</td>
                    <td>@item.NombreCompleto</td>
                    <td>@item.Direccion</td>
                    <td>@item.Telefono</td>
                    <td>@item.Apoderado.NombreCompleto</td>
                    <td>
                        @Html.ActionLink("Editar", "ActualizarEstudiante", new { idEstudiante = item.IdEstudiante }) |
                        @Html.ActionLink("Detalles", "DetalleEstudiante", new { idEstudiante = item.IdEstudiante }) 
                    </td>
                </tr>
            }
        </tbody>
    </table>