﻿@model TBZCurso.Curso
@{
    ViewBag.Title = "ActualizarCurso";
}
<div class="col-md-12 col-md-offset-0">
    <legend class="panel-warning">Actualizar Curso</legend>
</div>
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-10 col-md-offset-3">
            <form action="/Cursos/ActualizarCurso/@Model.IdCurso" method="post" class="form-horizontal">
                <div class="col-sm-4" hidden=" ">
                            @Html.EditorFor(model => model.IdCurso, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre Curso</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.NombreCurso, new { htmlAttributes = new { @class = "form-control" } })
                             <br />
                            @Html.ValidationMessage("NombreCurso", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nota Mínima</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.NotaMinima, new { htmlAttributes = new { @class = "form-control" } })
                             <br />
                            @Html.ValidationMessage("NotaMinima", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-5 col-md-offset-3">
                        <div class="col-sm-4">
                            <a href="~/Cursos/GestionarCurso" class="btn btn-primary">
                                <span class="" aria-hidden="true"></span>Cancelar
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success" aria-hidden="true">
                                <span class=""></span>Guardar
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>