﻿@model TBZCurso.Curso
@{
    ViewBag.Title = "DetalleCurso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-md-offset-0">
    <legend class="panel-footer">Detalle Curso</legend>
</div>
<div class="container panel-footer">
    <div class="row">
        <div class="col-md-10 col-md-offset-3">
            <form action="/Cursos/CrearCurso" method="post" class="form-horizontal">
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    Nombre Curso :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NombreCurso)
                                </dd>

                                <dt>
                                    Nota Mínima :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NotaMinima)
                                </dd>

                            </dl>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <a href="~/Cursos/GestionarCurso" class="btn btn-primary">
                                    <span class="" aria-hidden="true"></span>Cancelar
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <a href="/Cursos/ActualizarCurso?idCurso=@Model.IdCurso" class="btn btn-danger">
                                    <span class="" aria-hidden="true"></span>Actualizar
                                </a>
                            </div>
                        </div>

            </form>
        </div>
    </div>
</div>