﻿@{
    ViewBag.Title = "GestionarCurso";
}

<h2>Cursos</h2>

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<form action="/Cursos/GestionarCurso" method="get">
    <div class="row">
        <div class="col-md-5">
            <input type="text" name="query" class="form-control" placeholder="Buscar" />
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary">Buscar</button>
        </div>
        <div class="col-md-3">
            <a href="/Cursos/CrearCurso" class="btn btn-success">
                <span class="" aria-hidden="true"></span>Crear Curso
            </a>
        </div>
    </div>
</form>
<br />
<br />

  <table class="table table-striped" >
        <thead>
            <tr>
                <th>Nombre Curso</th>
                <th>Nota Mínima</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NombreCurso</td>
                    <td>@item.NotaMinima</td>
                    <td>
                        @Html.ActionLink("Editar", "ActualizarCurso", new { idCurso = item.IdCurso }) |
                        @Html.ActionLink("Detalles", "DetalleCurso", new { idCurso = item.IdCurso }) |
                        @Html.ActionLink("Eliminar", "Delete", new { idCurso = item.IdCurso })
                    </td>
                </tr>
            }
        </tbody>
    </table>